.primaryColor {
    background-color: #303030;
}

.buttonTextColor {
    text-decoration-color: #594534;
}


/* Color Theme Swatches in Hex */

.Architecture-and-interior-studio-website-design-1-hex {
    color: #F2F2F2;
}

.Architecture-and-interior-studio-website-design-2-hex {
    color: #594534;
}

.Architecture-and-interior-studio-website-design-3-hex {
    color: #A68C76;
}

.Architecture-and-interior-studio-website-design-4-hex {
    color: #262626;
}

.Architecture-and-interior-studio-website-design-5-hex {
    color: #0D0D0D;
}


/* Color Theme Swatches in RGBA */

.Architecture-and-interior-studio-website-design-1-rgba {
    color: rgba(242, 242, 242, 1);
}

.Architecture-and-interior-studio-website-design-2-rgba {
    color: rgba(89, 69, 51, 1);
}

.Architecture-and-interior-studio-website-design-3-rgba {
    color: rgba(165, 140, 117, 1);
}

.Architecture-and-interior-studio-website-design-4-rgba {
    color: rgba(38, 38, 38, 1);
}

.Architecture-and-interior-studio-website-design-5-rgba {
    color: rgba(12, 12, 12, 1);
}


/* Color Theme Swatches in HSLA */

.Architecture-and-interior-studio-website-design-1-hsla {
    color: hsla(0, 0, 95, 1);
}

.Architecture-and-interior-studio-website-design-2-hsla {
    color: hsla(28, 26, 27, 1);
}

.Architecture-and-interior-studio-website-design-3-hsla {
    color: hsla(28, 21, 55, 1);
}

.Architecture-and-interior-studio-website-design-4-hsla {
    color: hsla(0, 0, 15, 1);
}

.Architecture-and-interior-studio-website-design-5-hsla {
    color: hsla(0, 0, 5, 1);
}